<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>Castcloud</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://raw.github.com/necolas/normalize.css/master/normalize.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="cast-context-menu">
		<div id="cast-context-unsub">Remove</div>
		<div id="cast-context-copy">Copy URL</div>
	</div>
	<div id="topbar">
		<h1>Castcloud</h1>
		<div id="menu-container">
			<nav>
				<ul>
					<li>
						<a href="podcasts">Podcasts</a>
					</li><li>
						<a href="settings">Settings</a>
					</li>
				</ul>
			</nav>
			<div id="userinfo">
				<p>Logged in as <span style="color: #0099cc"></span><button class="button" id="button-logout">Log out</button></p>
			</div>
		</div>
		<i class="fa fa-bars" id="navicon"></i>
	</div>
	<div id="main-container">
		<div class="tab" id="tab-login">
			<div id="login-container">
				<p><input type="text" id="input-username" placeholder="Username"></p>
				<p><input type="password" id="input-password" placeholder="Password"></p>
				<p><button id="button-login">Log in</button></p>
			</div>
		</div>
		<div class="tab" id="tab-podcasts">
			<div id="podcast-vmenu">
				<div id="vmenu-add">+</div>
			</div>
			<div id="podcast-cols">
				<div class="col">
					<input type="text" id="input-vmenu-add" placeholder="Feed URL">
					<button id="button-vmenu-add">Add</button>
					<div id="podcasts"></div>
				</div>
				<div class="col" id="episodes"></div>
				<div class="col" id="episodeinfo">
					<div id="vid-container">
						<video id="vid" width="100%" autoplay>
			  				<source src="#" type="video/mp4">
						</video>
						<div id="overlay-info"><h5></h5><h2></h2></div>
						<div id="playbar">
							<div id="playbar-controls">
								<button class="button button-skipback"><i class="fa fa-step-backward"></i></button>
								<button class="button button-play"><i class="fa fa-play"></i></button>
								<button class="button button-skipforward"><i class="fa fa-step-forward"></i></button>
								<div id="volume"><div id="volume-top"></div></div>
								<div id="seekbar"><div></div></div>
								<h3 id="time">00:00/00:00</h3>
								<i class="fa fa-gear fa-lg" id="playbar-gear"></i>
							</div>
							<div id="playbar-gear-menu">
								<h4>Playback rate</h4>
								<button class="button playback-rate" rate="0.5">0.5x</button>
								<button class="button playback-rate selected" rate="1.0">1.0x</button>
								<button class="button playback-rate" rate="1.5">1.5x</button>
							</div>
						</div>
					</div>
					<div id="episodeinfo-text">
						<h2 id="episode-title"></h2>
						<p id="episode-date"></p>
						<p id="episode-desc"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab" id="tab-settings"></div>
	</div>

	<script type="text/template" class="podcasts">
	<% casts.forEach(function(cast) { %>
		<div id="cast-<%= cast.id %>" class="cast"><%= cast.feed.title %></div>
	<% }); %>
	</script>

	<script type="text/template" class="episodes">
	<% episodes.forEach(function(episode) { %>
		<div id="ep-<%= episode.id %>" class="episode"><div class="bar"></div><div class="content"><%= episode.feed.title %></div></div>
	<% }); %>
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//underscorejs.org/underscore-min.js"></script>
	<script src="//backbonejs.org/backbone-min.js"></script>
	<script src="jquery.cookie.js"></script>
	<script src="jquery.zclip.min.js"></script>
	<script src="script.js"></script>
</body>
</html>
