* {
	margin: 0;
	padding: 0;
}

*:not(input) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
}

body {
	background: #222;
	color: #FFF;
	font-family: "Lato";
}

a {
	text-decoration: none;
}

#topbar {
	background: #111;
	height: 60px;
}

#topbar h1 {
	padding: 10px 20px;
	color: #FFF;
}

#topbar nav {
	position: absolute;
	top: 0;
	line-height: 60px;
	left: 200px;
}

#topbar nav ul li {
	display: inline-block;
}

#topbar nav {
	display: none;
}

#topbar nav a {
	padding: 0px 10px;
	height: 60px;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
}

#topbar nav a:hover {
	color: #0099cc;
}

#main-container {
	background: #222;
	bottom: 0;
	top: 60px;
	left: 0;
	right: 0;
	position: absolute;
	overflow: auto;
}

.tab {
	display: none;
	height: 100%;
}

#login-container {
	width: 200px;
	margin: 0 auto;
}

#login-container p {
	margin-bottom: 5px;
}

#login-container input, #tab-settings input, #input-target-container input {
	width: 190px;
	font: 16px "Lato";
	padding: 10px 5px;
	border: none;
	outline: none;
}

#login-container button {
	font: bold 18px "Lato";
	color: #FFF;
	background: #0066cc;
	border: none;
	outline: none;
	padding: 8px 5px;
	width: 200px;
	cursor: pointer;
}

#userinfo {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	display: none;
}

#userinfo div {
	display: inline-block;
}

#userinfo span {
	margin-right: 20px;
}

.button {
	font: bold 18px "Lato";
	color: #FFF;
	background: #0066cc;
	border: none;
	outline: none;
	padding: 8px 5px;
	cursor: pointer;
	width: 100px;
	height: 40px;
	margin: 10px;
}

.button:hover {
	background: #0099cc;
}

.button:active {
	background: #0066cc;
}

#login-container button:hover {
	background: #0099cc;
}

#login-container button:active {
	background: #0066cc;
}

#input-target-container {
	margin-left: 12px;
	position: fixed;
	left: 0;
	bottom: 0;
	color: #AAA;
}

#input-target {
	background: #111;
	color: #AAA;
	margin: 5px;
}

.vmenu-toggle {
	display: none;
}

#podcast-vmenu {
	position: fixed;
	width: 50px;
	height: 100%;
	background: #222;
}

#podcast-vmenu div {
	position: relative;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-size: 32px;
}

#podcast-vmenu div:hover {
	background: #0066cc;
}

#podcast-vmenu div:active {
	background: #0099cc;
}

#podcast-vmenu i {
	position: absolute;
	left: 16px;
	top: 16px;
	font-size: 20px;
}

#input-vmenu-add {
	display: none;
	font: 16px "Lato";
	height: 50px;
	width: 100%;
	padding: 0px 10px;
	border: none;
	outline: none;
	z-index: 1;
}

#button-vmenu-add {
	display: none;
	width: 100px;
	float: right;
	margin-top: -50px;
	height: 50px;
	background: #0066cc;
	color: #FFF;
	font: bold 18px "Lato";
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

#button-vmenu-add:hover {
	background: #0099cc;
}

#vmenu-add-results {
	background: #FFF;
	color: #AAA;
	position: relative;
	width: 100%;
}

#vmenu-add-results p {
	padding: 10px;
	cursor: pointer;
}

#vmenu-add-results p:hover {
	color: #0099cc;
}

#tags {
	display: none;
}

#tags .button {
	width: auto;
	background: #333;
	padding: 0px 10px;
	margin: 5px;
	margin-right: 0px;
}

#tags .button.selected {
	background: #0099cc;
}

#tags .button:hover {
	background: #0066cc;
}

#tags .button:active {
	background: #0099cc;
}

#podcast-cols {
	left: 50px;
	right: 0;
	height:100%;
	position: absolute;
	background: #000;
}

.col {
	width: 33.333333%;
	height: 100%;
	background: #222;
	float: left;
}

@media all and (max-height: 250px) {
	#input-target-container {
		position: relative;
	}
}

@media all and (max-width: 600px) {
	#menu-container {
		display: none;
	}

	#topbar nav {
		position: relative;
		left: 0;
		width: 100%;
		background: #111;
		z-index: 1000;
	}

	#topbar nav li, #topbar nav a {
		width: 100%;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

	#userinfo {
		position: relative;
		float: right;
		z-index: 1111;
		background: #111;
		width: 100%;
		text-align: center;
	}

	.col {
		width: 100%;
	}

	#navicon {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0px 20px;
		line-height: 60px;
		font-size: 40px;
		cursor: pointer;
	}

	#navicon:hover {
		color: #0066cc;
	}

	#navicon:active {
		color: #0099cc;
	}
}

@media all and (min-width: 600px) and (max-width: 720px) {
	#userinfo div {
		display: none;
	}
}

.cast, .episode {
	padding: 10px 20px;
	cursor: pointer;
}

.cast:hover, .episode:hover {
	background: #0066cc;
}

.cast.selected, .episode.selected {
	background: #0099cc;
	color: #FFF !important;
}

.cast.current, .episode.current {
	color: #0099cc;
}

.cast.current:hover, .episode.current:hover {
	color: #FFF;
}

.episode {
	position: relative;
}

.episode .bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #333;
	height: 100%;
	width: 0px;
}

.episode .content {
	position: relative;
}

.episode i {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px;
}

#vid {
	width: 100%;
}

#vid-container {
	display: none;
	position: fixed;
	top: 60px;
	bottom: 60px;
	width: 100%;
}

#vid-container.fs {
	height: auto;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: #000;
}

#vid-container.thumb {
	position: fixed;
	right: 15px;
	bottom: 60px;
	top: auto;
	width: 200px;
	background: #111;
	padding: 0 5px;
}

#vid-container.thumb.minimized {
	height: 30px;
	bottom: 60px;
}

#vid-thumb-bar {
	display: none;
}

.thumb #vid-thumb-bar {
	display: block;
	height: 30px;
	background: #111;
}

#vid-thumb-bar a {
	color: #444;
}

#vid-thumb-bar a:hover {
	color: #0099cc;
}

#vid-thumb-bar h4 {
	float: left;
	line-height: 30px;
	color: #444;
}

#vid-thumb-bar .button {
	height: 30px;
	margin: 0;
	padding: 0;
	width: 30px;
	background: #111;
	float: right;
	color: #444;
}

#vid-thumb-bar .button:hover {
	background: #0066cc;
	color: #FFF;
}

#vid-thumb-bar .button:active {
	background: #0099cc;
}

#overlay-info {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 20px;
	padding: 10px 15px;
	background: rgba(0,0,0,0.75);
}

#overlay-info h5 {
	color: #AAA;
}

#overlay-loading {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.75);
}

#episode-bar {
	margin: 0;
	padding: 0;
	background: #1A1A1A;
}

#episode-bar .button {
	background: #1A1A1A;
	color: #444;
	width: auto;
	margin: 0;
	padding: 0 15px;
}

#episode-bar .button:hover {
	background: #0066cc;
	color: #FFF;
}

#episode-bar .button:active {
	background: #0099cc;
}

#episodeinfo p {
	margin: 5px 0;
	line-height: 1.5;
}

#episodeinfo-text {
	margin: 10px;
}

#episode-title {
	margin: 5px 0px;
}

#episode-date {
	color: #666;
}

#episode-desc {
	color: #AAA;
}

#events {
	display: none;
	background: #1A1A1A;
	cursor: pointer;
	overflow-y: scroll;
	max-height: 40%;
}

#events div {
	color: #AAA;
	padding: 5px 15px;
}

#events div:hover {
	background: #333;
}

#events div:active {
	background: #444;
}

#events .what {
	color: #0099cc;
}

#events .who {
	font-size: 11px;
}

#events .when {
	float: right;
	font-size: 11px;
}

#events .secondline {
	line-height: 1;
	clear: both;
}

#playbar {
	display: none;
	background: #111;
	height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	color: #333;
}

#playbar-controls {

}

#playbar .button {
	float: left;
	background: #222;
	margin: 10px;
	margin-right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: #666;
}

#playbar .button:hover {
	background: #0066cc;
	color: #FFF;
}

#playbar .button:active {
	background: #0099cc;
}

#playbar-gear {
	position: absolute;
	right: 60px;
	line-height: 60px;
	cursor: pointer;
}

#playbar-gear:hover {
	color: #0099cc;
}

#playbar-gear-menu {
	display: none;
	position: fixed;
	bottom: 60px;
	right: 0;
	width: 200px;
	height: 200px;
	background: #FFF;
}

#playbar-gear-menu * {
	margin: 10px;
	margin-bottom: 5px;
}

#playbar-gear-menu .button {
	width: 50px !important;
	border-radius: 0px;
	background: #0066cc;
	color: #FFF;
}

#playbar-gear-menu .button.selected {
	background: #0099cc;
}

#playbar-gear-menu .button:hover {
	background: #0099cc;
}

#playbar-gear-menu .button:active {
	background: #0066cc;
}

#volume {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 200px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 150px solid #222;
}

#volume-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 200px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 75px solid #333;
	z-index: 10;
}

#playbar-info {
	display: none;
	float: left;
	line-height: 75px;
	margin: 0px 20px;
}

#time {
	margin: 0 90px;
	line-height: 60px;
	float: right;
}

#seekbar {
	display: inline-block;
	position: absolute;
	left: 170px;
	right: 235px;
	top: 25px;
	height: 10px;
	background: #FFF;
	border-radius: 5px;
}

#seekbar:hover {
	cursor: pointer;
}

#seekbar div {
	background: #0099cc;
	height: 10px;
	width: 0px;
	border-radius: 5px;
}

.context-menu {
	display: none;
	position: fixed;
	width: 200px;
	background: #FFF;
	color: #111;
	top: 10px;
	left: 10px;
	z-index: 3;
	padding: 5px 0px;
	border: 1px solid #AAA;
}

.context-menu div {
	padding: 5px 10px;
	cursor: pointer;
}

.context-menu div:hover {
	background: #0066cc;
	color: #FFF;
}

#tab-settings h2 {
	padding: 10px;
}

#tab-settings p {
	margin: 5px 10px;
}

#tab-settings label {
	display: inline-block;
	width: 100px;
}

#clip {
	position: fixed;
	width: 1px;
	height: 1px;
	left: -10px;
}

#episodeinfo figure {
	text-align: center;
	background: #1A1A1A;
}

#pretty {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 40%;
	width: auto;
	height: auto;
}

.dragging {
	position: fixed;
}

.dragging-placeholder {
	height: 40px;
}

.cc {
	display: none;
	position: absolute;
	right: 15px;
	top: 18px;
	cursor: pointer;
}

#cast-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	text-align: center;
	z-index: 1000;
}

#cast-overlay .name {
	color: #0099cc;
}